{% extends 'store/layouts/main.html' %}

{% block content %}

    <div class="container mt-5">
		<h1>About Us</h1>
		<p>Chúng tôi là một công ty chuyên cung cấp các sản phẩm và dịch vụ chất lượng cao cho khách hàng. Mục tiêu của chúng tôi là vượt quá mong đợi của khách hàng bằng cách cung cấp giá trị và dịch vụ đặc biệt.</p>
		<h2>Our Team</h2>
		<div class="row">
			<div class="col-md-3">
				<img src="https://via.placeholder.com/150" class="rounded-circle">
				<h4>Võ Văn Long</h4>
				<p>CEO</p>
			</div>
			<div class="col-md-3">
				<img src="https://via.placeholder.com/150" class="rounded-circle">
				<h4>Võ Văn Bảo Quốc</h4>
				<p>COO</p>
			</div>
			<div class="col-md-3">
				<img src="https://via.placeholder.com/150" class="rounded-circle">
				<h4>Nguyễn Trần Tín</h4>
				<p>CFO</p>
			</div>
			<div class="col-md-3">
				<img src="https://via.placeholder.com/150" class="rounded-circle">
				<h4>Lê Phúc Khương</h4>
				<p>CTO</p>
			</div>
		</div>
	</div>


    {% include 'store/inc/footer.html' %}


{% endblock content %}