{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}

<br><br>
<div class="container mt-5">

    <legend>ADD CATEGORY</legend>
    <form action="" method="POST">
      {% csrf_token %}
    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">Name</label>
        <input type="text" id="form6Example3" class="form-control" name="username" value="" required/>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">image</label>
        <input id="filebutton" name="filebutton" class="input-file" type="file" required>
    </div>


    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
    </div>
    
    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example5">Status</label>
        <input type="checkbox" name="status" id="status" />
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example5">Trending</label>
        <input type="checkbox" name="status" id="status" />
    </div>
      

      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Update </button>
      </form>
</div>

{% endblock content %}
